package {{ .Package }}_test

import "testing"


func Test{{ .Domain }}(t *testing.T) {
    t.Run("Initial test", func(t *testing.T){
        // testing code goes here!

        // if err != nil {
        //     t.Errorf("Expected no error, got %v", err)
        // }
    })
}